@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Yellowtail&display=swap");
@import url("https://fonts.google.com/specimen/Source+Serif+4?preview.text=Surassic%27s&query=s");

/*Fondo de la pagina principal*/
.bodyprincipal{
    background-image:url("../Imagenes/trucha\ negra.jpeg");
    background-size:cover;
    background-position:center center;
    background-attachment:fixed ;
}

/*sacamos el color azul a las listas con links*/
.headerdelaprincipal a{
    text-decoration: none;
    color: #adb5bd;
     
}
/*le ponemos color a las etiquetas con links cuando pasamos con el cursor*/
.headerdelaprincipal a:hover{
    color: #dee2e6;
}

/*Titulo prinicipal (Surassic's)*/
#Titulodesurassic{
    
font-family: specimen;
 display: grid;
  font-weight:bold;
  font-size: 250px;
  text-align:center;
  height: 65px;
  width: 100vw;
  background-clip: text;
  color: #212529;
  margin-top: 0%;

}

.headerdelaprincipal{
    color: #adb5bd;
    margin-top: -1%;
    position: relative;
    left: -10%;
    display: flex;
    height: 55px;
    width: 110%;
    align-items: center;
    justify-content: right;
    padding: 10px;
    background-color: #343a40;
}

.barradenavegacion{
    display: flex;
    list-style-type: none;
}

.listasdelabarradenavegacion{
    padding: 10px;
font-family:  sans-serif;
font-size: 20px;

}